<!DOCTYPE html>
<html>
  <body>
    <h2>FloorMap Seating Manager へのご招待</h2>
    <p><%= @invitation.invited_by.name %>さんがあなたをFloorMap Seating Managerへ招待しました。</p>
    <p>
      <a href="<%= invitation_accept_url(@invitation.token) %>">招待を受け入れる</a>
    </p>
    <p>このリンクは7日間有効です。</p>
  </body>
</html>
