<!DOCTYPE html>
<html>
  <body>
    <h2><%= @notification.title %></h2>
    <p><%= @notification.message %></p>
    <p>
      <a href="<%= root_url %>">FloorMap Seating Manager を開く</a>
    </p>
  </body>
</html>
